{% extends 'base.html' %}
{% block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li><strong><a href = '{% url "article-detail" post.pk %}'>{{post.title}}</a></strong> -    
        <small>
            <a href="{% url 'category' post.category|slugify %}"> {{ post.category }}</a> - 
            {{post.author.first_name}} 
            {{post.author.last_name}} -
            {{ post.post_date }}

            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    - <a href='{% url "update_post" post.pk %}' > [Edit]</a>
                    <a href='{% url "delete_post" post.pk %}' >[Del]</a>
                {% else%}
                    Not allowed!
                {% endif %}
            {% endif %}
        </small> <br/>
        {{ post.snippet }}
    </li>

{% endfor %}

{% endblock %}